@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "ParryHotter";
  src: url("/fonts/ParryHotter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-parry {
  font-family: "ParryHotter", sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


